<% if(typeof alert != 'undefined') { %> <% alert.forEach(error => { %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	<%= error %>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<% }) %> <% } %>
<form class="generalForm" action="/account/update-account-type" method="POST">
	<label class="formLabel">Update account to:</label>
	<div class="formRadioOption">
		<input
			type="radio"
			name="accountUpdateType"
			id="accountUpdateAdmin"
			value="admin"
			required
		/>
		<label class="formRadioLabel" for="accountUpdateAdmin">Admin</label>
	</div>
	<div class="formRadioOption">
		<input
			type="radio"
			name="accountUpdateType"
			id="accountUpdateMember"
			value="member"
			required
		/>
		<label class="formRadioLabel" for="accountUpdateMember">Member</label>
	</div>
	<label class="formLabel" for="accountUpdatePassword">
		Password Authorization:
	</label>
	<input
		class="formInput"
		type="password"
		name="accountUpdatePassword"
		required
	/>
	<button class="formButton">Submit</button>
</form>
