<form class="generalForm" action="/account/update-account-type" method="POST">
	<label class="formLabel">Update account to:</label>
	<div class="formRadioOption">
		<input
			type="radio"
			name="accountUpdateType"
			id="accountUpdateAdmin"
			value="admin"
			required
		/>
		<label class="formRadioLabel" for="accountUpdateAdmin">Admin</label>
	</div>
	<div class="formRadioOption">
		<input
			type="radio"
			name="accountUpdateType"
			id="accountUpdateMember"
			value="member"
			required
		/>
		<label class="formRadioLabel" for="accountUpdateMember">Member</label>
	</div>
	<label class="formLabel" for="accountUpdatePassword">
		Password Authorization:
	</label>
	<input
		class="formInput"
		type="password"
		name="accountUpdatePassword"
		required
	/>
	<button class="formButton">Submit</button>
</form>
