<div class="formMain">
	<form action="/account/sign-up" method="POST">
		<div>
			<!-- <label for="name">Name</label> -->
			<input
				name="displayName"
				type="text"
				placeholder="Display Name"
				required
			/>
		</div>
		<div>
			<!-- <label for="email">Email</label> -->
			<input name="username" type="email" placeholder="email" required />
		</div>
		<div>
			<!-- <label for="password">Password</label> -->
			<input name="password" type="password" placeholder="Password" required />
		</div>
		<button>Sign Up</button>
	</form>
</div>
