<% if(typeof alert != 'undefined') { %> <% alert.forEach(error => { %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	<%= error.msg %>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<% }) %> <% } %>

<form class="generalForm" action="/account/sign-up" method="POST">
	<label for="displayName" class="formLabel">Display Name</label>
	<input class="formInput" name="displayName" type="text" required />

	<label for="username" class="formLabel">Email</label>
	<input class="formInput" name="username" type="email" required />

	<label for="password" class="formLabel">Password</label>
	<input
		class="formInput"
		name="password"
		type="password"
		id="password"
		required
	/>

	<label for="confirmPassword" class="formLabel">Password Confirmation</label>
	<input
		class="formInput"
		name="confirmPassword"
		type="password"
		id="confirmPassword"
		required
	/>
	<button class="formButton">Sign Up</button>
</form>
