<div class="formMain">
	<form
		action="/account/update-account-type"
		method="POST"
		id="accountUpdateForm"
	>
		<div>
			<label for="accountUpdateType">Update account to:</label>
			<div class="accountUpdateTypeContainer">
				<input type="radio" name="accountUpdateType" value="admin" />
				<label for="accountUpdateType" required>Admin</label>

				<input type="radio" name="accountUpdateType" value="member" />
				<label for="accountUpdateType">Member</label>
			</div>
		</div>
		<div>
			<label for="accountUpdatePassword">Account update password:</label>
			<div class="accountUpdatePasswordContainer">
				<input type="password" name="accountUpdatePassword" required />
			</div>
		</div>
		<button>Submit</button>
	</form>
</div>
