
<form class="generalForm action="/account/update-account-type" method="POST">
	<label class="formLabel">Update account to:</label>
	<div>
		<input
			type="radio"
			name="accountUpdateType"
			id="accountUpdateAdmin"
			value="admin"
		/>
		<label class="formLabel" for="accountUpdateAdmin" required>Admin</label>
	</div>
	<div>
		<input
			type="radio"
			name="accountUpdateType"
			id="accountUpdateMember"
			value="member"
		/>
		<label class="formLabel" for="accountUpdateMember">Member</label>
	</div>
	<label class="formLabel" for="accountUpdatePassword">
		Password Authorization:
	</label>
	<input
		class="formPassword"
		type="password"
		name="accountUpdatePassword"
		required
	/>
	<button class="formButton">Submit</button>
</form>
