<form action="/account/log-in" method="POST">
	<label class="formLabel" for="username" class="formLabel">Email</label>
	<input class="formInput" name="username" type="email" required />
	<label class="formLabel" for="password" class="formLabel">Password</label>
	<input class="formInput" name="password" type="password" required />
	<button class="formButton">Log In</button>
</form>
