<div class="formMain">
	<form action="/account/log-in" method="POST">
		<div>
			<input
				name="username"
				type="text"
				placeholder="Username"
				value="david@gmail.com"
				required
			/>
		</div>
		<div>
			<input
				name="password"
				type="password"
				placeholder="Password"
				value="test"
				required
			/>
		</div>
		<button>Log In</button>
	</form>
	<a href="">Forgot Password</a>
</div>
