<div class="formMain">
	<form action="/account/sign-up" method="POST">
		<div>
			<!-- <label for="name">Name</label> -->
			<input
				name="name"
				type="text"
				placeholder="Display Name"
				value="David A"
				required
			/>
		</div>
		<div>
			<!-- <label for="email">Email</label> -->
			<input
				name="email"
				type="email"
				placeholder="Username"
				value="david@gmail.com"
				required
			/>
		</div>
		<div>
			<!-- <label for="password">Password</label> -->
			<input
				name="password"
				type="password"
				placeholder="Password"
				value="test"
				required
			/>
		</div>
		<button>Sign Up</button>
	</form>
</div>
