<% if(posts.length > 0){posts.forEach(post => {%>
	<div class="postContainer">
		<div class="postHeader">
			<i class="fa-solid fa-user"></i>
			<h4 class="postTitle"><%= post.postTitle %></h4>
			<h4 class="postAuthor">Anonymous</h4>
		</div>
		<p class="postBody"><%= post.postBody %></p>
	</div>
<% })} else { %>
	<p>no posts available</p>
<% } %>
