<div class="footer-left">
	<a href="https://github.com/gamadjg">
		<img class="githubIcon" src="/images/GitHub-Mark-32px.png" />
	</a>
	<a href="https://www.linkedin.com/in/gamadavid/">
		<img class="linkedinIcon" src="/images/linkedin-32.ico" />
	</a>
</div>
<div class="footer-right"></div>
