<div class="nav-left">
	<a href="/" class="nav-link">
		<h1 class="siteName">Members Only</h1>
	</a>
	<h4 class="pageTitle">
		<%= title %>
	</h4>
</div>
<div class="nav-right">
	<% if(user){ %>
		<a href="/" class="nav-link">Home</a>
		<a href="/account/update-account-type" class="nav-link">Update Membership</a>
		<!-- <a href="/account" class="nav-link">Account</a> -->
		<a href="/posts/posts-user" class="nav-link">My Posts</a>
		<a href="/account/log-out" class="nav-link">Log Out</a>
		<% }else{ %>
			<a href="/" class="nav-link">Home</a>
			<a href="/account/log-in" class="nav-link">Login</a>
			<a href="/account/sign-up" class="nav-link">Sign Up</a>
			<% } %>
</div>