<form class="createPostsForm" action="/posts/create" method="POST">
	<label class="createPostLabel" for="postTitle">Title</label>
	<textarea
		class="createPostTitle"
		name="postTitle"
		type="text"
		required
	></textarea>
	<label class="createPostLabel" for="postBody">Body</label>
	<textarea
		class="createPostBody"
		name="postBody"
		type="text"
		required
	></textarea>
	<button class="formButton">Create</button>
</form>
