<div id="postsMain">
	<div id="createPostContainer"><%- include("./posts-create.ejs") %></div>
	<div id="postsContainer">
		<% if(posts.length > 0){posts.forEach(post => {%>
		<div class="post">
			<h5 class="postTitle"><%= post.title %></h5>
			<p class="postBody"><%= post.body %></p>
		</div>
		<% })} else { %>
		<p>no posts available</p>
		<% } %>
	</div>
</div>
