<form class="createPostsForm" action="/posts/create" method="POST">
	<div>
		<label for="postTitle">Title</label>
		<input
			name="postTitle"
			type="text"
			placeholder="Title"
			value="Title"
			required
		/>
	</div>
	<div>
		<label for="postBody">Body</label>
		<input
			name="postBody"
			type="text"
			placeholder="Body"
			value="Body"
			required
		/>
	</div>
	<button>Create</button>
</form>
