<!DOCTYPE html>
<html>
	<%- include("./partials/head.ejs") %>
	<body>
		<nav><%- include("./partials/nav.ejs") %></nav>
		<main><%- include(`./partials/${page}.ejs`) %></main>
		<footer><%- include("./partials/footer.ejs") %></footer>
	</body>
</html>
