/***********************************GLOBAL***********************************/
body {
	margin: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: Roboto, sans-serif;
	min-height: 100vh;
	background-color: #4c566a;
}

/* p {
	margin: 5px;
} */

nav,
footer {
	display: flex;
	justify-content: space-between;
	margin: 10px;
	padding: 5px;
	/* height: 56px; */
}

nav > *,
footer > * {
	display: flex;
	align-items: flex-end;
}
.nav-left > *,
.nav-right > *,
.footer-left > *,
.footer-right > * {
	padding: 0 10px;
}

main {
	margin: 0 10px;
	flex: auto;
	display: flex;
	justify-content: center;
	align-items: stretch;
	border-top: 2px solid #81a1c1;
	border-bottom: 2px solid #81a1c1;
}

/***********************************HEADER EXCLUSIVE***********************************/
.siteName {
	color: #81a1c1;
	margin: 0;
}

.pageTitle {
	color: #81a1c1;
	margin: 15px 0 0 0;
}

.accountIcon {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	padding: 8px;

	background: #fff;
	border: 2px solid #666;
	color: #666;
	text-align: center;

	font: 32px Arial, sans-serif;
}

#iconPlaceHolder {
	width: 50px;
	height: 50px;
}

.nav-link,
.nav-link:visited,
.nav-link:active {
	color: #81a1c1;
	text-decoration: none;
}

.nav-link:hover {
	font-weight: bold;
}

.postsMain {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: flex-start;
	gap: 10px;
}

.postContainer {
	background-color: #4c5600;
	width: 100%;
}

.postTitle {
	color: #81a1c1;
}

.postAuthor {
	color: #81a1c1;
}

.trash {
	font-size: 20px;
	margin-right: 10px;
	cursor: pointer;
}

.postBody {
	color: #81a1c1;
}

.formMain {
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

label {
	margin: 0;
	color: #81a1c1;
}

button {
	flex: auto;
	align-self: center;
	max-width: 50%;
}

.githubIcon,
.linkedinIcon {
	color: #81a1c1;
}
