/***********************************GLOBAL***********************************/

body {
	margin: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: Roboto, sans-serif;
	min-height: 100vh;
	background-color: #343d46;
}

button {
	cursor: pointer;
}

p {
	margin: 0px;
}

nav,
footer {
	display: flex;
	justify-content: space-between;
	margin: 10px;
	padding: 5px;
	/* height: 56px; */
}

/* footer {
	display: flex;
	justify-content: space-between;
	margin: 10px;
	padding: 5px;
} */

nav > *,
footer > * {
	display: flex;
	align-items: flex-end;
}
.nav-left > *,
.nav-right > *,
.footer-left > *,
.footer-right > * {
	padding: 0 5px;
}

main {
	margin: 0 10px;
	flex: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: 2px solid #81a1c1;
	border-bottom: 2px solid #81a1c1;
}

/***********************************HEADER***********************************/

.siteName {
	color: #ee6a6f;
	margin: 0;
}
/* #5fb3b3 */
.pageTitle {
	color: #ee6a6f;
	margin: 15px 0 0 0;
}

#iconPlaceHolder {
	width: 50px;
	height: 50px;
}

.nav-link,
.nav-link:visited,
.nav-link:active {
	color: #ee6a6f;
	text-decoration: none;
}

.nav-link:hover {
	font-weight: bold;
}

/***********************************POSTS***********************************/
.postsMain {
	margin: 10px 0;
	padding-top: 50px;
	width: 50%;
}

.postHead {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}

.createPostsForm,
.generalForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 10px;
}

.createPostsForm {
	border-radius: 5px;
	background-color: #23292e;
	padding: 5px 6px;
}

.formRadioLabel {
	color: lightgrey;
	font-size: normal;
	font-weight: bold;
	margin: 0;
}

.formRadioOption {
	margin: 5px 0 0 10px;
}

.formInput {
	font-size: small;
	outline: none;
	border-radius: 5px;
	border: 1px solid #343d46;
	background-color: #343d46;
	color: #81a1c1;
	width: 100%;
	word-break: break-all;
}

.formInput {
	font-size: small;
	outline: none;
	border-radius: 5px;
	border: 1px solid #23292e;
	background-color: #23292e;
	color: #81a1c1;
	width: 100%;
	word-break: break-all;
}

.createPostTitle {
	font-size: small;
	outline: none;
	border-radius: 5px;
	border: 1px solid #343d46;
	background-color: #343d46;
	color: #81a1c1;
	height: 50px;
	width: 100%;
}

.createPostTitle:focus {
	font-size: small;
	outline: none;
	border-radius: 5px;
	border: 1px solid #343d46;
	background-color: #343d46;
	color: #81a1c1;
	height: 50px;
	width: 100%;
}

.createPostBody {
	font-size: small;
	outline: none;
	border-radius: 5px;
	border: 1px solid #343d46;
	background-color: #343d46;
	color: #81a1c1;
	height: 100px;
	width: 100%;
}

.createPostBody:focus {
	font-size: small;
	outline: none;
	border-radius: 5px;
	border: 1px solid #343d46;
	background-color: #343d46;
	color: #81a1c1;
	height: 100px;
	width: 100%;
}

.formButton {
	margin: 5px 0 0 0;
	border-radius: 25px;
	border: 1px solid grey;
	background-color: grey;
	color: black;
	padding: 0 10px;
}

.createPostLabel,
.formLabel {
	color: lightgray;
	font-size: large;
	font-weight: bold;
}

.createPostLabel {
	margin: 5px 0 0 0px;
}

.formLabel {
	margin: 5px 0 0 0px;
}

.formsContainer,
.postsContainer {
	/* flex: auto; */
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: stretch;
	margin: 0 0 10px 0;
}

.post {
	background-color: #23292e;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #23292e;
	padding: 5px 5px;
	margin: 0 0 10px 0;
}

.post > * {
	margin: 5px 0 0 0;
}

.userIcon {
	border-radius: 60%;
	width: 38px;
	height: 38px;
	min-width: 38px;
	min-height: 38px;
	padding-left: 1px;
	background: #fff;
	border: 2px solid #666;
	color: #666;
	text-align: center;
	font: 32px Arial, sans-serif;
}

.postTitle {
	color: #81a1c1;
	font-size: x-large;
	font-weight: bold;
	word-break: break-all;
}

.postBody {
	font-size: normal;
	color: #81a1c1;
	background-color: #343d46;
	border-radius: 5px;
	padding: 5px;
	word-break: break-all;
}

.postFooter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 5px;
}

.postFooterLeft {
	font-size: 12px;
	display: flex;
	flex-direction: row;
	color: #c594c5;
	font-style: italic;
}

.trash {
	font-size: px;
	margin-right: 5px;
	cursor: pointer;
	color: #6d8c69;
}

/***********************************FOOTER EXCLUSIVE***********************************/

.githubIcon,
.linkedinIcon {
	color: #81a1c1;
}
