body {
	margin: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: Roboto, sans-serif;
	min-height: 100vh;
}

nav {
	display: flex;
	justify-content: space-between;
	margin: 10px 10px;
	border-bottom: 2px solid black;
	height: 56px;
}

/* img {
	margin: 5px;
} */

p {
	margin: 5px;
}

.accountIcon {
	max-width: 50px;
	max-height: 50px;
}

.siteName {
	margin: 0;
}

.pageTitle {
	margin: 5px 0 0 0;
}

nav > * {
	display: flex;
	flex-direction: row;
	align-content: space-between;
	/* gap: 5px; */
}

.trash {
	font-size: 20px;
	margin-right: 10px;
	cursor: pointer;
}

.nav-left > * {
	flex: auto;
	align-self: center;
	padding: 0 5px;
	margin-bottom: 10px;
}

.nav-right > * {
	flex: auto;
	align-self: center;
	padding: 0 5px;
	margin-bottom: 10px;
}

#iconPlaceHolder {
	width: 50px;
	height: 50px;
}

.nav-link,
.nav-link:visited,
.nav-link:active {
	color: inherit;
	text-decoration: none;
}

.nav-link:hover {
	font-weight: bold;
}

main {
	margin: 0 10px 0 10px;
}

.formMain {
	display: flex;
	flex-direction: column;
}

.formMain > * {
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-self: center;
	gap: 5px;
}

button {
	flex: auto;
	align-self: center;
	max-width: 50%;
}

footer {
	display: flex;
	border-top: 2px solid black;
	padding: 2px;
	margin: 10px;
	justify-content: space-between;
}

.footer-left {
	/* margin-top: 5px; */
	display: flex;
	gap: 10px;
}
